<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 - NestBB</title>
</head>
<body>
    <div class="navbar">
        <div class="container">
            <h1>NestBB</h1>
            <nav>
                <a href="/">홈</a>
                <a href="/posts">게시판</a>
                <a href="/posts/write">글쓰기</a>
            </nav>
        </div>
    </div>
    <div class="container">
        {{#if partial}}
            {{> (lookup . 'partial')}}
        {{else}}
            {{{ body }}}
        {{/if}}
    </div>
</body>
</html>